<p id="notice"><%= notice %></p>

<h1>Listing Measurement Rels</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurement_rels.each do |measurement_rel| %>
      <tr>
        <td><%= link_to 'Show', measurement_rel %></td>
        <td><%= link_to 'Edit', edit_measurement_rel_path(measurement_rel) %></td>
        <td><%= link_to 'Destroy', measurement_rel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measurement rel', new_measurement_rel_path %>
