<table id = 'ExpGrid'>
<thead>
    <tr>
        <th class = 'cell'>Name</th>
        <th>Type</th>
    </tr>
</thead>
<tbody>
<% @project.exps.each do |exp| %>
    <tr id = 'exp_<%=exp.id %>' class='cell'>
        <td><%= exp.id %></td><td><%= exp.name %></td><td><%= exp.exp_type.name %></td>
    </tr>
<% end %>
</tbody>
</table>

<%= javascript_tag do %>


$('.cell').on('click', function() {
    if (current_exp_id) { 
      $('#exp_' + current_exp_id).toggleClass('activated');
    }
    $(this).toggleClass('activated');
    current_exp_id = this.id.split('_')[1]; 
    update_sample_list();
});


<% end %>
