<%= form_for(@project, :url => url_for(:action => 'update', :key => @project.key)) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id='popup' class='hidden'>
<div id='popup_cross' onclick="$('#popup').addClass('hidden');">X</div>
<div id='popup_content'></div>
</div>


<div class="project">

<%= @user.name %>

 <table>
<tr><td>Name</td><td><%= f.text_field :name %></td></tr>
<tr><td>Description</td><td><%= f.text_field :description %></td></tr>
</table>

</div>
<div id="exp_list"></div>
<%= render :partial => 'exp_space' %>
<div id="new_exp_button" class="button">New experiment</div>
<div id="sample_list"></div>
Add <%= number_field_tag 'number_new_batch_samples', 3,  required: true, min: 1, max: 100 %> new samples:
<div id='batch_new_samples_button' class="button">Add samples</div>


<div id="measurement_list"></div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>


<%= javascript_tag do %>
var project_id = <%= @project.id %>
var current_exp_id = <%= (@project.exps.count > 0) ? @project.exps.first.id : 'null' %> ;

$('#exp_' + current_exp_id).toggleClass('activated');

var current_sample_id = null;<%#= (exp = @project.exps.samples.first) ? exp.id : null %> ;

function update_exp_list(){
 $.ajax({
  url: '<%= exps_path %>?project_key=<%= @project.key %>&layout=0',
  type: "GET",
  dataType: 'html',
 }).done(function(html){
    $('#exp_list').html(html);
    if (current_exp_id) { 
        update_sample_list();
    }
//    current_sample_id = null;
    old_sample_id = null;
 }).fail(function(){
 });
}

function update_sample_list(){
$.ajax({
  url: '<%= index_slickgrid_samples_path %>?project_key=<%= @project.key %>&exp_id=' + current_exp_id + '&layout=0',
  type: "GET",
  dataType: 'html',
 }).done(function(html){
  // eval(responseText);
   $('#sample_list').html(html);
   update_measurement_list();
 }).fail(function(){
    alert('failed to update s list');
 });
}

function update_measurement_list(){
 $.ajax({
  url: '<%= index_slickgrid_m_measurements_path %>?project_key=<%= @project.key %>&exp_id=' + current_exp_id + '&sample_id=' + current_sample_id + '&layout=0',
  type: "GET",
  dataType: 'html',
 }).done(function(html){
  old_sample_id = current_sample_id;
  // eval(responseText);
   $('#measurement_list').html(html);
 }).fail(function(){
    alert('failed update_m_list');
 });
}

function call_exp_form(){
 $.ajax({
  url: '<%= new_exp_path %>?project_key=<%= @project.key %>&layout=0',
  type: "GET",
  dataType: 'html',
 }).done(function(html){
    $('#popup_content').html(html);
 }).fail(function(){
 });
}

// add new experiment to the project

$('#new_exp_button').click(function(){
    call_exp_form();
    $('#popup').toggleClass('hidden');
});

// add new empty samples by batch

$('#batch_new_samples_button').click(function(){
$.ajax({
  url: '<%= batch_new_samples_path %>?project_key=<%= @project.key %>&exp_id=' + current_exp_id,
  type: "POST",
  data: {
   project_key : '<%= @project.key %>',
   exp_id : current_exp_id,
   nber_new_samples : $('#number_new_batch_samples').val() 
  },
  dataType: 'json',
 }).done(function(html){
    alert('success');
  update_sample_list();
 }).fail(function(){
    alert('failed creating new samples');
 });
});

update_exp_list()

<% end %>
