    <table>
    <tbody>
    <tr>
        <th><%= label_tag :project_name, 'Project name' %></th>
        <td><%= text_area_tag :project_name, '', :placeholder => 'You project name...', :required => true %> </td>
    </tr>
    <tr>
        <%# this field is active only for lab_admins %>
        <th><%= label_tag :user, 'User' %></th>
        <% opts = [["genes bodies", 0], ["gene promoters", 1], ["exons", 2], ["custom upload", 3]]%>
        <td><%= select_tag(:user_id, options_for_select(opts)) %></td>
        <td><%#= select_tag ('user_id', options_for_select([["test", 1]])) %></td>
    </tr>
    <tr>
        <th><%= label_tag :description %></th>
        <td><%= text_area_tag :description, '', :placeholder => 'You comments here...' %> </td>
    </tr>
    
    </tbody>
    </table>

<table width="100%">
  <tr>
    <td valign="top" width="50%">
      <div id="myGrid" style="width:600px;height:500px;"></div>
    </td>
    <td valign="top">
      <h2>Demonstrates:</h2>
      <ul>
        <li>basic grid with minimal configuration</li>
      </ul>
        <h2>View Source:</h2>
        <ul>
            <li><A href="https://github.com/6pac/SlickGrid/blob/master/examples/example1-simple.html" target="_sourcewindow"> View the source for this example on Github</a></li>
        </ul>
    </td>
  </tr>
</table>

<script>
  var grid;
  var columns = [
    {id: "title", name: "Title", field: "title"},
    {id: "duration", name: "Duration", field: "duration"},
    {id: "%", name: "% Complete", field: "percentComplete"},
    {id: "start", name: "Start", field: "start"},
    {id: "finish", name: "Finish", field: "finish"},
    {id: "effort-driven", name: "Effort Driven", field: "effortDriven"}
  ];

  var options = {
    enableCellNavigation: true,
    enableColumnReorder: false
  };
$( document ).ready(function() {
     var data = [];
    for (var i = 0; i < 500; i++) {
      data[i] = {
        title: "Task " + i,
        duration: "5 days",
        percentComplete: Math.round(Math.random() * 100),
        start: "01/01/2009",
        finish: "01/05/2009",
        effortDriven: (i % 5 == 0)
      };
    }

    grid = new Slick.Grid("#myGrid", data, columns, options);
  
});
</script>
