<h1>My Projects</h1>

<%# admin? %>
<%# @user.to_json %>
<%# @projects.map{|p| p.name}.to_json %>

 
<%= link_to 'New Project', new_project_path, :class=>'add_link' %>

<table id='list_projects' class='std_table'>
<thead>
  <tr>
    <th>Project ID</th>
    <th>User</th>
    <th>Name</th>
    <th>Samples</th>
    <th>Description</th>
    <th>Date</th>
    <th>Actions</th>
   </tr>
</thead>
<tbody>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.id %></td>
    <td><%= @h_users[project.user_id].firstname %> <%= @h_users[project.user_id].name %></td>
    <td><%= project.name %></td>
    <td><%= project.samples.map{|s| s.name}.join("\n") %></td>
    <td><%= project.description %></td>
    <td><%= display_date(project.created_at) %></td>

    <td><%= link_to 'Show', project_path(project.key) %>
    <%= link_to 'Edit', edit_project_path(project.key), :class=> 'edit_link' %>
    <%= link_to 'Destroy', project_path(project.key), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'trash_link' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<script type="text/javascript">
    //<![CDATA[

$(document).ready(function() {
   
    var oTable = $('#list_projects').dataTable( {

        "sDom": 'Wfrt',
"oLanguage": { "sSearch": "" },
//"bStateSave": true,
"aLengthMenu": [[50, 100, 250, -1], [50, 100, 250, "All"]],
        "iDisplayLength": <%= @projects.size %>
        })

 $('.dataTables_filter input').attr("placeholder", "Search here...");

});


//]]>
</script>
